.App {
  text-align: center;
}

.App-header {
  position: fixed;
  margin-left: 0px;
  margin-right: 0 px;
  margin-top: 0px;
  background-color: #222;
  height: 150px;
  width: 100%;
  color: white;
}

.App-intro {
  font-size: large;
  margin-top: 0px;
}

